
:root {
    --color-text: #191e49;
    --background-light: #f8f8f8;
    --colorbg-from: #fcf9ff;
    --colorbg-to: #faf5ff;
    --bs-primary: #7928ca;
    --bs-primary-soft: #7928ca1A;
}

#curve {
    background-image: linear-gradient(180deg, var(--background-light),white);
    padding: 20px;
    clip-path: ellipse(100% 90% at 50% 0%);
    padding-top: 50px;
    height: 420px;
}

.onebra, .multibra {
    opacity: 0;
}
.form-control:focus {
    border-color: var(--background-light);
    outline: 0;
    box-shadow: 0 0 0 2px var(--bs-primary);
}
.ui.selection.active.dropdown {
    border-color: var(--background-light);
    box-shadow: 0 0 0 2px var(--bs-primary);
}
#masterHeader {
    height: 50px;
    background: var(--background-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
}

._main {
    position: relative;
    padding-bottom: 65px;
    background: transparent;
    margin-top: -406px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    ._main::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        display: none;
    }

.text-primary {
    color: var(--bs-primary) !important;
}

._bg-primary {
    background: var(--bs-primary);
    color: white;
}

._bdcomname {
    font-family: var(--bs-body-font-family) !important;
    color: var(--bs-primary) !important;
}

._container div, ._container p, ._container span {
    color: var(--color-text);
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

._main ._label {
    margin-bottom: 6px;
    margin-top: 12px;
}

@media only screen and (max-width: 600px) {
    ._main .action_Save-Content {
        width: 100%;
    }

    ._main .btn.action {
        width: 100%;
    }

    ._percentage {
    }

    ._appcont {
        border: none !important;
    }
}

._appcont {
    border: 1px solid #b2b2b245;
}


._main .ellipsis_two_line {
    line-height: 1.55 !important;
}

.flatpickr-calendar {
    border: none !important;
    box-shadow: none !important;
}

._main .flatpickr-calendar .flatpickr-day.selected {
    background: var(--background-light) !important;
    color: var(--color-text) !important;
    border: 1px solid var(--bs-primary) !important;
}

._main .flatpickr-calendar .flatpickr-day:not(.selected):hover, ._main .flatpickr-calendar .flatpickr-day:not(.selected):focus {
    background: var(--background-light) !important;
    border: 1px solid var(--bs-primary) !important;
}

.flag-image {
    width: 30px;
    border-radius: 100px;
    border: 1px solid #d0d0d0;
}

.navbar {
    box-shadow: none !important;
}


._percentage {
    top: 59px;
    width: 250px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

._container {
    height: 100vh;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    position: relative;
    background-image: linear-gradient(180deg, var(--background-light),white);
}

#sectionsNav.show-menu {
    background: var(--background-light);
}

#sectionsNav {
    z-index: 9000;
}

.navbar-mobile.showmenu, .more._show {
    visibility: visible !important;
    opacity: 1 !important;
}

.navbar-mobile {
    background-image: linear-gradient(180deg, var(--background-light), white) !important;
    position: absolute;
    top: 100%;
    left: 0;
    height: calc(100vh - 44px);
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    width: 100%;
}

@media (max-width: 991px) {
    .navbar .navbar-translate {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
}
@media (min-width: 768px) { /* Adjust breakpoint as needed */
    .bitem:hover {
        border: 1px solid var(--bs-primary) !important;
        background: var(--background-light) !important;
        cursor: pointer;
    }
}
.bitem.selected, ._back:hover, #_percentStep:hover, ._colapmenu:hover, .mlan:hover, .mlan.active, ._calapp:hover {
    border: 1px solid var(--bs-primary) !important;
    background: var(--background-light) !important;
    cursor: pointer;
}

._calapp:hover {
    color: unset !important;
}

._calapp:last-child {
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    border-right: 1px solid #d2d6da;
}

._calapp {
    cursor: pointer;
    padding: 0.4rem 0.9rem !important;
}

.mlan {
    border: 1px solid transparent !important;
    display: inline-block;
}

#_bdm_LangArea hr {
    opacity: 0.1 !important;
    margin: 0 30px
}

.bitem.selected .check {
    opacity: 1 !important;
}

.bitem {
    border-width: 1px !important;
    transition: border 0.3s ease-in-out, background 0.3s ease-in-out;
}



    .bitem .check, #_bdbtnSer {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        pointer-events: none;
    }

        .bitem.selected .check, #_bdbtnSer.show {
            opacity: 1 !important;
            pointer-events: inherit !important;
        }



._pattern {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    overflow: hidden;
    background: var(--background-light) !important;
}

._feabrach {
    display: block;
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin: auto;
    position: absolute;
    border-radius: 50px;
    top: 0;
}

.appemp {
    min-width: 90px;
    max-width: 120px;
    border: 1px solid transparent;
    margin-right: 3px !important;
    overflow: hidden;
}


div.arrows {
    /*     display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 70px;*/
}

.arrows.left {
    left: 20px;
}

.arrows.right {
    right: 0px;
}

.arrows .arrow {
    border: 1px solid transparent;
    height: 27px;
    width: 28px !important;
    display: block;
}

    .arrows .arrow:hover {
        border: 1px solid var(--bs-primary) !important;
        background: var(--background-light);
    }

.carousel-wrapper {
    /*    overflow-x: auto;
        width: calc(100% - 80px);
        display: flex;
        transition: transform 0.5s ease-in-out;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin-left: 35px;
        margin-right: 35px;*/
    position: absolute;
    left: 40px;
    right: 40px;
    width: calc(100% - 97px);
    transition: transform 0.5s ease-in-out;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
}

    .carousel-wrapper::-webkit-scrollbar {
        display: none;
    }

.carousel-container {
    height: 90px;
    position: relative;
}

.flatpickr-months {
    display: none;
}

.flatpickr-calendar {
    width: 100% !important; /* Chiếm full width */
    max-width: none !important; /* Không bị giới hạn */
}

.flatpickr-innerContainer {
    width: 100% !important;
}

.flatpickr-day {
    flex: 1 0 auto; /* Các ngày sẽ giãn đều */
    text-align: center;
}

.flatpickr-days {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.showTimeInput {
    border: none !important;
    box-shadow: none !important;
}

.dayContainer {
    width: 100% !important;
    min-width: 100% !important;
}

.flatpickr-day {
    flex: 1 0 calc(100% / 7); /* Chia đều 7 cột */
    max-width: calc(100% / 7);
    text-align: center;
    margin: 2px 0;
}

.flatpickr-rContainer {
    width: 100%;
    padding: 5px;
    border: 1px solid #e6e6e6;
    padding-top: 13px;
    border-radius: 8px;
}

.flatpickr-weekdays {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    font-size: 16px;
}

.flatpickr-weekday {
    font-weight: 500 !important;
}

.apptime {
    width: 70px;
    display: inline-block;
    margin: 6px 4px 1px 1px;
    border-radius: 10px !important;
}

#_bdcbbLanguage, #_pacbbLanguage {
    position: absolute;
    top: 30px;
    background: white;
    padding: 10px;
    min-width: 120px;
    right: -9px;
    max-height: unset;
    padding: 10px !important;
}

.slide-in {
    opacity: 0;
    transform: translateX(30%);
    animation: slideIn 0.35s ease-in-out forwards;
}

.slide-out {
    opacity: 1;
    transform: translateX(0);
    animation: slideOut 0.35s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(30%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-30%);
    }
}


.slide-in-left {
    opacity: 0;
    transform: translateX(-30%);
    animation: slideInLeft 0.35s ease-in-out forwards;
}


.slide-out-left {
    opacity: 1;
    transform: translateX(0);
    animation: slideOutLeft 0.35s ease-in-out forwards;
}


@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

._block._bg_block.error {
    background: #FFF6F6 !important;
    border-color: #E0B4B4 !important;
}

    ._block.error .errtext {
        display: block !important;
    }

@keyframes slideOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(30%);
    }
}

.btn:hover:not(.btn-icon-only) {
    color: white !important;
    box-shadow: #ffc1c1 0px 0px 0px 3px, #ffe6e6 0px 0px 0px 6px !important;
}

#bd_form .ui.basic.red.pointing.prompt, #pa_form .ui.basic.red.pointing.prompt {
    display: none !important;
}

.apptime.disabled, ._calapp.back.disabled {
    background: #d5d5d5;
    pointer-events: none;
    opacity: 0.5;
}

#_bdm_BranchAddress .more, #_pam_BranchAddress .more {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    display: none;
}

    #_bdm_BranchAddress .more._show, #_pam_BranchAddress .more._show {
        display: block;
    }

.social {
    opacity: 0;
    transform: translateY(-20px);
    animation: line-up 0.2s forwards;
    animation-delay: 0.7s;
}

.hotconArea img {
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

@keyframes line-up {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.solcialItem {
    opacity: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s all;
    background: #fff;
    border-radius: 50px;
    padding: 3px 15px;
    background: #fff;
    box-shadow: 0px 5px 20px 0px #bebebe;
    font-weight: 600;
    white-space: nowrap;
    font-size: 13px;
    text-transform: none;
}

.social:hover .solcialItem {
    opacity: 1;
    right: 100%;
}